################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Restaurant/.vs/Restaurant/FileContentIndex
/Restaurant/obj